---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Header from "../../components/Header.astro";
import Button from "../../components/ui/Button.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
  );

  return paginate(posts, { pageSize: 5 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="flex min-h-screen flex-col">
    <Header />
    <main class="flex-1 bg-background py-12">
      <section class="mx-auto flex max-w-5xl flex-col items-center">
        <ul class="grid grid-cols-2 gap-8">
          {
            page.data.map((post) => (
              <li class="group">
                <a href={`/blog-no-bloat/blog/${post.slug}/`}>
                  <img
                    class="aspect-video rounded-sm object-cover"
                    width={720}
                    height={360}
                    src={post.data.heroImage}
                    alt=""
                  />
                  <h4 class="mt-2 text-xl transition-colors group-hover:text-primary">
                    {post.data.title}
                  </h4>
                  <p class="text-sm opacity-70">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                  <p>{post.data.description}</p>
                </a>
              </li>
            ))
          }
        </ul>
        <div class="mt-10 flex justify-end gap-4">
          <Button
            variant="primary"
            disabled={!page.url.prev}
            class:list={{
              "min-w-[100px]": true,
              "pointer-events-none cursor-not-allowed opacity-50":
                !page.url.prev,
            }}
          >
            <a href={`/blog-no-bloat${page.url.prev}`}>Previous</a>
          </Button>
          <Button
            variant="primary"
            disabled={!page.url.next}
            class:list={{
              "min-w-[100px]": true,
              "pointer-events-none cursor-not-allowed opacity-50":
                !page.url.next,
            }}
          >
            <a href={`/blog-no-bloat${page.url.next}`}> Next</a>
          </Button>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
