---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
  );

  return paginate(posts, { pageSize: 5 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="min-h-screen flex flex-col">
    <Header />
    <main class="bg-background flex-1 py-12">
      <section class="flex flex-col items-center max-w-5xl mx-auto">
        <ul class="grid grid-cols-2 gap-8">
          {
            page.data.map((post) => (
              <li class="group">
                <a href={`/blog-no-bloat/blog/${post.slug}/`}>
                  <img
                    width={720}
                    height={360}
                    src={post.data.heroImage}
                    alt=""
                  />
                  <h4 class="text-xl group-hover:text-primary transition-colors mt-2">
                    {post.data.title}
                  </h4>
                  <p class="text-sm opacity-70">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                  <p>{post.data.description}</p>
                </a>
              </li>
            ))
          }
        </ul>
        <div class="flex justify-end gap-4 mt-10">
          <button
            disabled={!page.url.prev}
            class:list={{
              "opacity-50 cursor-not-allowed pointer-events-none":
                !page.url.prev,
            }}
          >
            <a href={`/blog-no-bloat${page.url.prev}`}>Previous</a>
          </button>
          <button
            disabled={!page.url.next}
            class:list={{
              "opacity-50 cursor-not-allowed pointer-events-none":
                !page.url.next,
            }}
          >
            <a href={`/blog-no-bloat${page.url.next}`}> Next</a>
          </button>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
